<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Caveat&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Purple+Purse&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nova+Square&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nova+Slim&display=swap"
      rel="stylesheet"
    />
    <link href="./css/main.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div class="v4_2">
      <div class="v11_130">
        <span class="v4_12">Vidya Sagar</span><span class="v4_21">GitHub</span
        ><span class="v4_22">LinkedIn</span>
      </div>
      <div class="v11_129">
        <span class="v5_5">Full Stack FLUTTER And PYTHON Developer</span>
        <div class="v5_19"></div>
      </div>
      <div class="v7_12">
        <div class="v7_6"></div>
        <div class="v7_10">
          <div class="v7_7"></div>
          <div class="v7_9"></div>
        </div>
        <span class="v7_11"
          >I am very Passionate to build Cross-Platform Native App Development
          using Flutter and Dart with 1 year of real world projrct experience
          and very Enthusiastic about Artificial Intelligence</span
        >
      </div>
      <span class="v7_13">Hi, I’m Vidya. Nice to meet you.</span>
      <div class="v7_17"></div>
      <span class="v11_2">My Recent Works</span>
      <div class="v11_128">
        <div class="v7_15"></div>
        <span class="v7_36">FIgma</span>
        <div class="name"></div>
        <div class="v7_22"></div>
        <div class="v7_23"></div>
        <span class="v7_30">Things I enjoy designing</span
        ><span class="v7_39">Languages I speak:</span
        ><span class="v7_34">Design Tools:</span
        ><span class="v7_44">Dev Tools:</span
        ><span class="v7_40">Python,Dart,JavaScript</span
        ><span class="v7_43">Flutter,GitHub,Artificial Intelligence</span
        ><span class="v7_24"> UI/UX Designer</span
        ><span class="v7_26">Front-end and Back-end Developer</span
        ><span class="v7_27">
          I value simple content structure, clean design patterns, and
          thoughtful interactions.</span
        ><span class="v7_28">
          I like to code things from scratch, and enjoy bringing ideas to life
          in mobile apps</span
        ><span class="v7_31">UX, UI, Web, Mobile, Apps, </span
        ><span class="v7_45">VsCode,Github,Terminal</span
        ><span class="v7_41">Technologies I learned</span>
      </div>
      <span class="v11_3"
        >Here are a few design projects I've worked on recently.</span
      >
      <div class="v11_127">
        <div class="v11_33">
          <div class="v11_12"></div>
          <span class="v11_13">Navani</span
          ><span class="v11_14">
            It Ecommerce App to Sell the Cloths and Jewelry</span
          >
          <div class="v11_15"></div>
          <span class="v11_16">Navani</span
          ><span class="v11_17">
            It Ecommerce App to Sell the Cloths and Jewelry Used the nodeJs And
            MongoDb as Backend</span
          >
        </div>
        <div class="v11_34">
          <div class="v11_35"></div>
          <span class="v11_36">Navani</span
          ><span class="v11_37">
            It Ecommerce App to Sell the Cloths and Jewelry</span
          >
          <div class="v11_38"></div>
          <span class="v11_39">File Manager</span
          ><span class="v11_40">
            File manager using path Provider Library In Flutter</span
          >
        </div>
        <div class="v11_41">
          <div class="v11_42"></div>
          <span class="v11_43">Navani</span
          ><span class="v11_44">
            It Ecommerce App to Sell the Cloths and Jewelry</span
          >
          <div class="v11_45"></div>
          <span class="v11_46">NotePad</span
          ><span class="v11_47">
            Store the Notes permanantly In Mobile I used Sqflite As
            Backend</span
          >
        </div>
        <div class="v11_48">
          <div class="v11_49"></div>
          <span class="v11_50">Navani</span>
          <div class="v11_52"></div>
          <span class="v11_53">Society App</span
          ><span class="v11_51">
            It Ecommerce App Used the nodeJs And FireBase As Backend
          </span>
        </div>
        <div class="v11_55">
          <div class="v11_56"></div>
          <span class="v11_57">Navani</span
          ><span class="v11_58">
            It Ecommerce App to Sell the Cloths and Jewelry</span
          >
          <div class="v11_59"></div>
          <span class="v11_60">Navani</span
          ><span class="v11_61">
            It Ecommerce App to Sell the Cloths and Jewelry</span
          >
        </div>
        <div class="v11_69"></div>
      </div>
      <span class="v11_70">Flutter Projects</span>
      <div class="v11_126">
        <div class="v11_71">
          <div class="v11_72"></div>
          <span class="v11_73">Navani</span
          ><span class="v11_74">
            It Ecommerce App to Sell the Cloths and Jewelry</span
          >
          <div class="v11_75"></div>
          <span class="v11_76">Navani</span
          ><span class="v11_77">
            It Ecommerce App to Sell the Cloths and Jewelry Used the nodeJs And
            MongoDb as Backend</span
          >
        </div>
        <div class="v11_78">
          <div class="v11_79"></div>
          <span class="v11_80">Navani</span
          ><span class="v11_81">
            It Ecommerce App to Sell the Cloths and Jewelry</span
          >
          <div class="v11_82"></div>
          <span class="v11_83">File Manager</span
          ><span class="v11_84">
            File manager using path Provider Library In Flutter</span
          >
        </div>
        <div class="v11_85">
          <div class="v11_86"></div>
          <span class="v11_87">Navani</span
          ><span class="v11_88">
            It Ecommerce App to Sell the Cloths and Jewelry</span
          >
          <div class="v11_89"></div>
          <span class="v11_90">NotePad</span
          ><span class="v11_91">
            Store the Notes permanantly In Mobile I used Sqflite As
            Backend</span
          >
        </div>
        <div class="v11_92">
          <div class="v11_93"></div>
          <span class="v11_94">Navani</span>
          <div class="v11_95"></div>
          <span class="v11_96">Society App</span
          ><span class="v11_97">
            It Ecommerce App Used the nodeJs And FireBase As Backend
          </span>
        </div>
        <div class="v11_98">
          <div class="v11_99"></div>
          <span class="v11_100">Navani</span
          ><span class="v11_101">
            It Ecommerce App to Sell the Cloths and Jewelry</span
          >
          <div class="v11_102"></div>
          <span class="v11_103">Navani</span
          ><span class="v11_104">
            It Ecommerce App to Sell the Cloths and Jewelry</span
          >
        </div>
        <div class="v11_105"></div>
        <span class="v11_106">Python Projects</span>
      </div>
      <div class="v11_125">
        <div class="v11_107"></div>
        <div class="v11_124">
          <div class="v11_109"></div>
          <span class="v11_108">Thank You For Watching.</span>
        </div>
        <div class="v11_123">
          <div class="v11_122"></div>
          <div class="v11_117"></div>
          <div class="v11_119"></div>
          <div class="v11_120"></div>
        </div>
      </div>
    </div>
  </body>
</html>
