<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  style="background-color: #fff; padding: 0 1em"
>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Resume | First Last</title>
    <meta name="robots" content="noindex, nofollow" />
  </head>
  <body
    style="
      background-color: #fff;
      font-family: 'Trebuchet MS';
      padding: 1em;
      margin: 1em auto;
      max-width: 50em;
    "
  >
  <h1>Vidya Sagar</h1>
  </body>
</html>
