<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume 3</title>
  </head>
  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=3.0"
      />
      <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"
      />
      <title>PDF 1</title>
      <style type="text/css" media="print">
        @page {
          size: auto;
          margin: 5mm;
        }

        html {
          zoom: 0.4;
        }

        /* uncomment for check A4 size */
        @page {
          size: 7in 9.25in;
          margin: 27mm 16mm 27mm 16mm;
        }

        @media print {
          .footer,
          #non-printable {
            display: none !important;
          }

          #printable {
            display: block;
          }
        }
      </style>
    </head>

    <body
      style="
        padding: 20px;
        margin: 50px;
        font-family: 'Times New Roman', Times, serif;
        box-sizing: border-box;
      "
    >
      <table width="100%">
        <% for( let index = 0; index < listOfContent.length; index++ ) { %> <%-
        include("./"+listOfContent[index]); %> <% } %>
      </table>
    </body>
  </html>
</html>
