<% if (objectives && objectives.length>0) { %>
<div class="yui-gf">
  <div class="yui-u first">
    <h2>Objectives</h2>
  </div>

  <div class="yui-u">
    <div class="talent">
      <ul class="talent">
        <% for(var i=0; i < objectives.length; i++) { %>
        <li class="skill"><%=objectives[i]%></li>
        <% } %>
      </ul>
    </div>
  </div>

  <% } %>
</div>
