<% if (skills && skills.length>0) { %>

<div
  class="yui-gf"
  style="width: 80.2%; margin-bottom: 2em; padding-bottom: 2em"
>
  <div class="yui-u first">
    <h2 style="font-size: 152%; color: #333">Skills</h2>
  </div>

  <div class="yui-u">
    <div class="talent" style="width: 32%; float: left">
      <ul class="talent" style="width: 32%; float: left">
        <% for( let i = 0; i < skills.length; i++ ) { %>
        <li
          class="skill"
          style="
            line-height: 24px;
            width: 100px;
            padding-left: 40px;
            color: black;
          "
        >
          <%=skills[i]%>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
  <% } %>
</div>
