<% if (professionalSummary) { %>
<div
  class="yui-gf"
  style="margin-bottom: 2em; padding-bottom: 2em; border-bottom: 1px solid #ccc"
>
  <div class="yui-u first">
    <h2 style="font-size: 152%; color: #333">Summary</h2>
  </div>
  <div class="yui-u">
    <p
      class="enlarge"
      style="
        color: black;
        font-size: 100%;
        line-height: 18px;
        padding-right: 3em;
      "
    >
      <%=professionalSummary%>
    </p>
  </div>
</div>
<% } %>
