<% if (objectives && objectives.length>0) { %>

<div
  class="section"
  style="
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 1em;
    padding-bottom: 1em;
    padding-bottom: 0px;
    width: 850px;
  "
>
  <h2
    style="
      float: left;
      font-size: 20px;

      font-variant: small-caps;
      letter-spacing: 0.06em;
    "
  >
    Objectives
  </h2>
  <div
    class="content"
    style="width: 37em; margin: 0 0 0 16em; margin-left: 230px"
  >
    <ul style="text-align: justify">
      <% for( let i = 0; i < objectives.length; i++ ) { %>
      <li style="line-height: 24px"><%=objectives[i]%></li>
      <% } %>
    </ul>
  </div>
</div>
<% } %>
